<h1>Page de détails du compte</h1>
<p>Adresse email : <%= @user.email %></p>
<p>L'adresse email de l'utilisateur est la suivante : <%= @user.email %><p>
<%= link_to 'Modifier', edit_user_path(@user.id) %> 